/* About.css */
.about-image {
    width: 344px;
    height: 344px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    /* border-radius: 50%; Optional: to make the image round */
  }
  
  .animate-marquee {
    animation: marquee 5s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }